.memberships {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.membershipsMobile {
    display: none;
    flex-direction: column;
    align-items: center;
}

.title_membership {
    font-size: 3rem;
    text-align: center;
    color: var(--Blue);
    font-weight: 600;
    margin-bottom: 50px;
}

@media(max-width: 1265px) {
    .title_membership {
        font-size: 2.8rem;
    }
}

@media(max-width: 850px) {
    .memberships {
        gap: 20px;
    }
}

@media(max-width: 768px) {
    .memberships {
        display: none;
    }
    .membershipsMobile {
        display: flex;
    }
    .title_membership {
        font-size: 2.4rem;
        width: 70%;
        margin: 40px auto;
    }
}

@media(max-width: 465px) {
    .title_membership {
        font-size: 2rem;
    }
}

@media(max-width: 380px) {
    .title_membership {
        font-size: 1.8rem;
        width: 75%;
    }
}