.btn-store {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--Blue);
    font-size: 1.1rem;
    align-items: center;
    gap: 10px;
    background: var(--White);
    width: 200px;
    padding: 5px;
    border-radius: 35px;
    line-height: 1.7rem;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.28);
}

.icon_store {
    width: 25px;
}

.store {
    font-size: 1.4rem;
}

@media(max-width: 855px) {
    .btn-store {
        line-height: 1.3rem;
    }
    .store {
        font-size: 1.3rem;
    }
}

@media(max-width: 575px) {
    .btn-store {
        width: 165px;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
    .store {
        font-size: 1.1rem;
    }
    .icon_store {
        width: 21px;
    }
}

@media(max-width: 455px) {
    .btn-store {
        width: 140px;
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    .store {
        font-size: 0.9rem;
    }
}

@media(max-width: 390px) {
    .btn-store {
        width: 130px;
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    .store {
        font-size: 0.9rem;
    }
    .icon_store {
        width: 17px;
    }
}

@media(max-width: 350px) {
    .btn-store {
        width: 100px;
        font-size: 0.5rem;
        line-height: 0.7rem;
        gap: 7px;
    }
    .store {
        font-size: 0.7rem;
    }
    .icon_store {
        width: 15px;
    }
}