.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-img {
    width: 18px;
}

.arrow-btn {
    display: flex;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
