@media(max-width: 768px) {
    .plan, .planTwo, .planThree {
        width: 340px;
        border-radius: 0;
        padding: 10px 15px 10px 15px;
    }
    .plan {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .planThree {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .planTitleBlue, .planTitleWhite {
        text-align: start;
    }
    .lastPart_price {
        align-items: start;
    }
    .image_plan {
        flex-direction: unset;
        gap: 20px;
        width: 100%;
    }
    .planImage {
        width: 90px;
        height: 90px;
    }
    .darkBlueLine, .lightBlueLine, .plan_caracter {
        display: none;
    }
    .getPlan_btn {
        align-items: center;
        width: 5px;
        height: 5px;
        border-radius: 50px;
    }
    .price {
        margin: 3px 0px 8px 0px;
    }
}

@media(max-width: 400px) {
    .plan, .planTwo, .planThree {
        width: 300px;
    }
    .planTitleBlue, .planTitleWhite  {
        font-size: 1.2rem;
    }
    .plan-text {
        font-size: 0.6rem;
    }
    .planImage {
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 350px) {
    .plan, .planTwo, .planThree {
        width: 270px;
    }
    .planTitleBlue, .planTitleWhite  {
        font-size: 1.1rem;
    }
    .plan-text {
        font-size: 0.6rem;
    }
    .planImage {
        width: 60px;
        height: 60px;
    }
    .price {
        font-size: 1.1rem;
    }
}