.icon-avatar {
    width: 70px;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonie {
    width: 340px;
    box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.08);
    border-radius: 10px;
    padding: 10px;
    background: var(--White);
}

.text-testimonie {
    text-align: center;
}

.starYellow {
    width: 20px;
}

@media(max-width: 768px) {
    .testimonie {
        min-width: 200px;
    }
}