.home {
    position: relative;
}

.slide {
    width: 100%;
}

.slideMobile {
    display: none;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-title {
    font-size: 3.5rem;
    text-shadow: 1px 1px black;
    color: var(--White);
    margin: 0;
    font-weight: 600;
}

.home-p {
    font-size: 2.6rem;
    text-shadow: 1px 1px black;
    font-weight: 500;
    color: var(--White);
    margin: 10px 0px 30px 0px;
}

.btn-content {
    display: flex;
    gap: 20px;
}


.cosm {
    display: flex;
    justify-content: center;
    width: 20%;
}

.imgcelular {
    width: 35%;
    position: absolute;
    top: 3rem;
}

@media(max-width: 1500px) {
    .home-title {
        font-size: 3rem;
    }
    .home-p {
        font-size: 2.2rem;
    }
}

@media(max-width: 1350px) {
    .home-title {
        font-size: 2.5rem;
    }
    .home-p {
        font-size: 1.9rem;
    }
}

@media(max-width: 1150px) {
    .home-title {
        font-size: 2.3rem;
    }
    .home-p {
        font-size: 1.7rem;
    }
    .btn-store {
        line-height: 1.5rem;
    }
}

@media(max-width: 1024px) {
    .home-title {
        font-size: 2rem;
    }
    .home-p {
        font-size: 1.5rem;
    }
    .btn-store {
        line-height: 1.4rem;
    }
}

@media(max-width: 890px) {
    .btn-store {
        line-height: 1.3rem;
    }
}

@media(max-width: 768px) {
    .slide {
        display: none;
    }
    .slideMobile {
        display: block;
        width: 100%;
    }
    .home-title {
        font-size: 1.7rem;
    }
    .home-p {
        font-size: 1.3rem;
    }
    .btn-content {
        flex-direction: column;
        gap: 9px;
    }
    .imgcelular {
        width: 57%;
        top: 12rem;
        right: 0rem;
    }
}

@media(max-width: 425px) {
    .home-title {
        font-size: 1.3rem;
    }
    .home-p {
        font-size: 0.9rem;
    }
    .imgcelular {
        top: 9rem;
    }
}