.testimonial_content {
    padding-top: 60px;
}

.testimonial {
    background-color: #f4f7f9;
    padding-top: 35px;
    padding-bottom: 50px;
}

.testimonies-content {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.title-testimonial {
    text-align: center;
    font-size: 2.5rem;
    color: var(--Blue);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
}

.testimonies-content::-webkit-scrollbar {
    width: 0;
}


@media(max-width: 1265px) {
    .title-testimonial {
        font-size: 2.3rem;
    }
}

@media(max-width: 1200px) {
    .title-testimonial {
        font-size: 2.1rem;
    }
}

@media(max-width: 1125px) {
    .testimonies-content {
        gap: 50px;
    }
}

@media(max-width: 1085px) {
    .testimonies-content {
        gap: 45px;
    }
    .testimonie {
        width: 280px;
    }
}

@media(max-width: 1020px) {
    .testimonies-content {
        gap: 40px;
    }
    .testimonie {
        width: 250px;
    }
    .title-testimonial {
        font-size: 2rem;
    }
}

@media(max-width: 905px) {
    .testimonies-content {
        gap: 30px;
    }
    .testimonie {
        width: 200px;
    }
}

@media(max-width: 768px) {
    .testimonial {
        padding-top: 35px;
        padding-bottom: 10px;
    }
    .testimonies-content {
        overflow-x: auto;
        justify-content: start;
        padding: 20px;
        scrollbar-width: none;
    }
}

@media(max-width: 630px) {
    .title-testimonial {
        width: 80%;
        margin: auto;
    }
}

@media(max-width: 520px) {
    .title-testimonial {
        font-size: 1.7rem;
    }
}

@media(max-width: 375px) {
    .title-testimonial {
        font-size: 1.5rem;
    }
}