.download_section {
    padding-top: 150px;
}

.download_app {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 300px;
    background-image: url("../Images/Bg_DownloadApp.png");
}

.info_content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title_downloadApp {
    font-size: 2.7rem;
    color: var(--White);
    font-weight: 600;
    margin: 0;
}

.text_downloadApp {
    font-size: 1.9rem;
    color: var(--White);
    margin: 5px 0 0 0;
}

.downloadApp_btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(max-width: 1150px) {
    .title_downloadApp {
        font-size: 2.4rem;
    }
    .text_downloadApp {
        font-size: 1.5rem;
    }
}

@media(max-width: 1024px) {
    .title_downloadApp {
        font-size: 2rem;
    }
    .text_downloadApp {
        font-size: 1.3rem;
    }
}

@media(max-width: 855px) {
    .title_downloadApp {
        font-size: 1.7rem;
    }
    .text_downloadApp {
        font-size: 1.1rem;
    }
    .downloadApp_btn {
        gap: 10px;
    }
}

@media(max-width: 768px) {
    .download_app {
       gap: 45px;
    }
}

@media(max-width: 600px) {
    .title_downloadApp {
       font-size: 1.5rem;
    }
    .text_downloadApp {
        font-size: 0.9rem;
    }
}

@media(max-width: 520px) {
    .title_downloadApp {
       font-size: 1.3rem;
    }
    .text_downloadApp {
        font-size: 0.8rem;
    }
    .download_app {
        gap: 20px;
    }
}

@media(max-width: 450px) {
    .title_downloadApp {
       font-size: 1.1rem;
    }
    .text_downloadApp {
        font-size: 0.7rem;
    }
    .download_app {
        gap: 20px;
    }
}

@media(max-width: 385px) {
    .title_downloadApp {
       font-size: 1rem;
    }
    .text_downloadApp {
        font-size: 0.6rem;
    }
    .download_app {
        gap: 10px;
    }
}

@media(max-width: 350px) {
    .title_downloadApp {
        font-size: 0.9rem;
     }
     .text_downloadApp {
         font-size: 0.6rem;
     }
     .download_app {
         gap: 10px;
     }
}