.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, rgba(57,104,165,1) 0%, rgba(57,178,219,1) 35%, rgba(70,135,200,1) 100%);
}

.logo {
    width: 150px;
    user-select: none;
}

.icon-hamburger, .icon-close, .navMenuMobile {
    display: none;
}

.links-content {
    display: flex;
    gap: 20px;
}

.links {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link_icon {
    width: 23px;
}

.logo-hamburger {
    width: 150px;
    display: none;
    user-select: none;
}

.nav-link {
    text-decoration: none;
    color: var(--White);
    transition: 0.5s;
}

@media(max-width: 975px) {
    .nav-link {
        font-size: 0.8rem;
    }
    .link_icon {
        width: 20px;
    }
}

@media(max-width: 890px) {
    .link_icon {
        width: 16px;
    }
}

@media (max-width: 768px) {
    .navMenuDesktop {
        display: none;
    }
    .navMenuMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        height: 100%;
        box-sizing: border-box;
        background: linear-gradient(90deg, rgba(57,104,165,1) 0%, rgba(57,178,219,1) 35%, rgba(70,135,200,1) 100%);
        transform: translateX(0%);
        transition: transform 0.3s ease;
    }
    .nav-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .logo-hamburger {
        width: 180px;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .link_icon {
        width: 25px;
    }
    .links-content {
        gap: 25px;
    }
    .links {
        gap: 18px;
        font-weight: 500;
    }
    .icon-hamburger, .logo-hamburger {
        display: flex;
    }
    .icon-close {
        display: flex;
        position: absolute;
        top: 3rem;
        right: 3rem;
    }
    .links-content {
        flex-direction: column;
    }
    .closeMenu {
        transform: translateX(100%);
        transition: transform 0.4s ease;
    }
}

@media(max-width: 425px) {
    .icon-close {
        top: 2rem;
        right: 2rem;
    }
}