.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: rebeccapurple;
}

.logo {
    width: 150px;
    user-select: none;
}

.links-content {
    display: flex;
    gap: 20px;
    text-align: start;
}

.icon-hamburger {
    display: none;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.logo-hamburger {
    width: 150px;
    display: none;
    user-select: none;
}

.nav-link {
    text-decoration: none;
    color: var(--Dark-Blue);
    transition: 0.5s;
}

.nav-link:hover {
    color: var(--Dark-Grayish-Blue);
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 25px;
    }
    .icon-hamburger {
        display: flex;
    }
    .nav-menu {
        flex-direction: column;
        text-align: center;
        border-radius: 6px;
        background: var(--White);
        padding: 30px;
        width: 53%;
        align-items: center;
    }
    .nav-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .links-content {
        flex-direction: column;
    }
    .logo-hamburger {
        display: initial;
    }
    .open {
        display: flex;
    }
    .closed {
        display: none;
    }
    .end {
        justify-content: end;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    .bg-hamburger {
        height: 100vh;
        box-sizing: border-box;
    }
}