.benefits {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.video_content {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    align-items: center;
    gap: 50px;
}

.video {
    display: flex;
    justify-content: center;
}

.preview_video {
    width: 90%;
}

.video-p {
    font-size: 2.6rem;
    color: var(--Blue);
    font-weight: 500;
}

.text_bold_video {
    font-size: 3.4rem;
    font-weight: 600;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.gris {
    width: 350px;
    height: 550px;
    background: #f4f7f9;
    border: 1px solid black;
}


.feature-title {
    color: var(--Blue);
    font-weight: 600;
    font-size: 3rem;
    margin: auto auto 15px auto;
}

.feature-text {
    color: var(--Dark-blue);
    font-weight: 600;
    font-size: 2.3rem;
    margin: 0;
}

.feature-description {
    font-size: 2rem;
    margin: 15px auto auto auto;
    color: var(--Text);
}

@media(max-width: 1515px) {
    .video-p {
        font-size: 2.5rem;
    }
    .text_bold_video {
        font-size: 3.2rem;
    }
}

@media(max-width: 1440px) {
    .video-p {
        font-size: 2rem;
    }
    .text_bold_video {
        font-size: 2.7rem;
    }
}

@media(max-width: 1350px) {
    .video-p {
        font-size: 1.8rem;
    }
    .text_bold_video {
        font-size: 2.4rem;
    }
    .preview_video {
        width: 80%;
    }
}

@media(max-width: 1265px) {
    .video {
        width: 50%;
    }
}