.benefits {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.gris {
    width: 350px;
    height: 550px;
    background: #f4f7f9;
    border: 1px solid black;
}


.feature-title {
    color: var(--Blue);
    font-weight: 600;
    font-size: 3rem;
    margin: auto auto 15px auto;
}

.feature-text {
    color: var(--Dark-blue);
    font-weight: 600;
    font-size: 2.3rem;
    margin: 0;
}

.feature-description {
    font-size: 2rem;
    margin: 15px auto auto auto;
    color: var(--Text);
}

@media(max-width: 1265px) {
    .gris {
        width: 320px;
        height: 500px;
    }
    .feature-title {
        font-size: 2.8rem;
    }
    .feature-text {
        font-size: 2.2rem;
    }
    .feature-description {
        font-size: 1.8rem;
    }
}

@media(max-width: 1024px) {
    .gris {
        width: 300px;
        height: 480px;
    }
    .feature-title {
        font-size: 2.4rem;
    }
    .feature-text {
        font-size: 1.8rem;
    }
    .feature-description {
        font-size: 1.5rem;
    }
}

@media(max-width: 855px) {
    .gris {
        width: 280px;
        height: 460px;
    }
    .feature-title {
        font-size: 2.2rem;
    }
    .feature-text {
        font-size: 1.6rem;
    }
    .feature-description {
        font-size: 1.3rem;
    }
}

@media(max-width: 768px) {
    .feature {
        display: none;
    }
}